# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

*~
*.iso

GCI
GCI_ar
GCI_isotool
*.data

*.m4
*.log
*.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
README.html
autom4te.cache/*
*.deps
*.dirstamp

build/*
!tests/*
tests/test.iso
tests/libtest.a
