*~
*.iso
!tests/files/reference.iso
*.data
examples/*.o
examples/lib/*.o
tests/files/Builder/libtest.a
tests/files/ISO/test.iso
tests/files/Builder/lib/*.o
tests/files/Builder/source/*.o
tests/files/Compiler/*.o

build/*
wiimake/*
wiimake.zip
